{% extends "admin/_template.html.twig" %}

{% block title %}
    Back Office
{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <h2 class="title is-padding-10 is-margin-0">
            Gestion des Notes-Commentaires
        </h2>
        <p></p>

        <hr>
        <h3 class="subtitle">

        </h3>
        <div class="is-scrollable">
            <div class="table-container ">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth is-small ">
                    <thead>
                    <tr>
                        <th>actions</th>
                        <th>Id note</th>
                        <th>Utilisateur</th>
                        <th>Menu-Détaillé</th>
                        <th>Valeur</th>
                        <th>Commentaire</th>
                        <th>Date d'enregistrement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for note in noteList %}
                        <tr>
                            <th class="action">
                                <small> <a href="{{ path('admin_note',{id:note.id }) }}"> <i
                                                class="fas fa-search"></i>
                                    </a></small>
                                <small> <a href="{{ path('admin_note_delete',{id: note.id}) }}#form_anchor"> <i
                                                class="far fa-trash-alt"></i> </a></small>
                            </th>
                            <th>{{ note.id }}</th>
                            <td>
                                <a href="{{ path('user_profile',{id:note.user.id}) }}">
                                    {{ note.user.id}} - {{ note.user.pseudo }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('menu_detaille_page',{id:note.menudetaille.id}) }}">
                                    {{ note.menudetaille.id}} - {{ note.menudetaille.titre }}
                                </a>
                            </td>
                            <td>{{ note.value }}/10</td>
                            <td>{{ note.comment }}</td>
                            <td>{{ note.dateenregistrement|date('d/m/Y') }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr>

        {% include '/includes/flash_message.html.twig' %}
        {% if note_form is defined %}
            <div class="form_container" id="form_anchor">

                {{ form_start(note_form) }}

                {{ form_row(note_form.user, {label: 'Utilisateur', value: note_curr.user.id }) }}
                {{ form_row(note_form.menudetaille, {label: 'Menu détaillé', value: note_curr.menudetaille.titre}) }}
                {{ form_row(note_form.value, {label: 'Valeur', value: note_curr.value}) }}
                {{ form_row(note_form.comment, {label: 'Commentaire', value: note_curr.comment}) }}


                <button class="button is-primary is-center" type="submit" id="submit" name="submit">
                    Supprimer
                </button>

                {{ form_end(note_form) }}
            </div>
        {% endif %}
    </div>
</div>>
    {% endblock %}












