{% extends "admin/_template.html.twig" %}

{% block title %}
    Back Office
{% endblock %}

{% block content %}

    <div class="section">
        <h2 class="title">
            Gestion des utilisateurs
        </h2>


        <hr>
<div class="is-centered is-scrollable">
        <div class="table-container">
            <table class="table  is-bordered is-narrow is-hoverable is-small ">
                <thead>
                <tr>
                    <th>Id membre</th>
                    <th> pseudo</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>email</th>
                    <th>téléphone</th>
                    <th>civilité</th>
                    <th>roles</th>
                    <th>date d'enregistrement</th>
                    <th>actions</th>

                </tr>
                </thead>
                <tbody>
                {% for user in userList %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <td>{{ user.pseudo }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.telephone }}</td>
                        <td>{{ user.civilite }}</td>
                        <td>
                            {% set r ='' %}
                            {% for role in user.roles %}
                                {% set r = role ~',' ~ r %}
                            {% endfor %}
                            {{ r }}
                        </td>
                        <td>{{ user.dateenregistrement|date('d/m/Y') }}</td>
                        <td>
                            <small> <a href="{{ path('user_profile',{id:user.id }) }}"> <i class="fas fa-search"></i>
                                </a></small>
                            <small> <a href="{{ path('admin_user_update',{id: user.id}) }}#form_anchor"> <i class="far fa-edit"></i>
                                </a></small>
                            <small> <a href="{{ path('admin_user_delete',{id: user.id}) }}#form_anchor"> <i
                                            class="far fa-trash-alt"></i> </a></small>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        <hr>

        {% include '/includes/flash_message.html.twig' %}

        {% if (user_button != 'Ajouter') %}
            {% include '/admin/user_profile_view.html.twig' %}
        {% else %}
            {% include '/admin/user_registry.html.twig' %}
        {% endif %}

    </div>

{% endblock %}

