{% extends "_template.html.twig" %}

{% block title %}
    Nos specialités - Menu {{ menu.titre }}
{% endblock %}

{% block content %}
    <div class="section menu-section">
        {% set compt = 0 %}

        <div class="">
            <h1 class="h1 is-size-3 is-text-centered is-margin-20"> Succulence traiteur vous
                propose {{ menu.menuDetailles|length }} Formules pour  {{ menu.titre }} </h1>
            <div class="menu-detaille-list">
                {% for menuDetaille in menu.menuDetailles %} {# @var menu App/Entity/Menu #}

                    <div class="box menu-detaille">
                        <article class="media is-transparent">
                            <div class="media-left">
                                <figure class="image has-background-blogger is-200x200">
                                    <img src="{{ asset('images/'~menuDetaille.photo) }}" alt="Image">
                                </figure>
                            </div>

                            <div class="media-content">
                                <div class="content">
                                    <p>
                        <span class="tag is-primary">  zzz
{#                            {{ record.averageNote|number_format(2) }}/10#}
                        </span>
                                        <a href="{{ path('menu_detaille_page', {id:menuDetaille.id}) }}"
                                           class="has-text-primary">
                                            <strong>{{ menuDetaille.titre }}</strong>
                                        </a>
                                        {#                                    <small>{{ record.releaseAt|date('d/m/Y') }}</small>#}
                                        <br>
                                        {#                                    <small>#}
                                        {#                                        <strong>Artiste:</strong>#}
                                        {#                                        <a href="{{ path('artist_page', {id: record.artist.id}) }}">#}
                                        {#                                            {{ record.artist.name }}#}
                                        {#                                        </a>#}
                                        {#                                    </small><br>#}
                                        {#                                    <small>#}
                                        {#                                        <strong>Label:</strong>#}
                                        {#                                        {% if record.label %}#}
                                        {#                                            <a href="{{ path('label_page', {id: record.label.id}) }}">#}
                                        {#                                                {{ record.label.name }}#}
                                        {#                                            </a>#}
                                        {#                                        {% else %}#}
                                        {#                                            Autoproduction.#}
                                        {#                                        {% endif %}#}
                                        {#                                    </small><br>#}
                                        {{ menuDetaille.descriptioncourte }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>










                {% endfor %}
            </div>
        </div>

        {#    </div>#}
    </div>

{% endblock %}