{% extends "_template.html.twig" %}

{% block title %}
    Nos specialités - Menu {{ category.titre }}
{% endblock %}

{% block content %}

    <div class="section menu-section">

        <div>
            <ul class="is-inline-block">
                <li class="home is-inline-block is-size-6">
                    <a href="{{ path("home") }}" title="Aller à la page d'accueil" itemprop="item"><span
                                itemprop="title">Accueil</span></a>
                    <span> &gt; </span>
                </li>
                <li class="is-inline-block is-size-6">
                    <strong itemprop="item"><span itemprop="title">{{ category.titre }}</span></strong>
                </li>
            </ul>
        </div>

        {% set compt = 0 %}

        <div class="">
            <h1 class="h1 is-size-3 is-text-centered is-margin-20"> Succulence traiteur vous
                propose {{ category.menus|length }} Formules pour {{ category.titre }} </h1>
            <div class="menu-detaille-list">
                {% for menu in category.menus %}
                    <div class="box menu-detaille">
                        <article class="media is-transparent">
                            <div class="media-left">
                                <figure class="image has-background-blogger is-200x200">
                                    <img src="{{ asset('images/'~menu.photo) }}" alt="Image">
                                </figure>
                            </div>

                            <div class="media-content">
                                <div class="content">
                                    <p>
                        <span class="tag is-primary">  zzz
{#                            {{ record.averageNote|number_format(2) }}/10#}
                        </span>
                                        <a href="{{ path('menu_page', {id:menu.id}) }}"
                                           class="has-text-primary">
                                            <strong>{{ menu.titre }}</strong>
                                        </a>
                                        {#                                    <small>{{ record.releaseAt|date('d/m/Y') }}</small>#}
                                        <br>
                                        {#                                    <small>#}
                                        {#                                        <strong>Artiste:</strong>#}
                                        {#                                        <a href="{{ path('artist_page', {id: record.artist.id}) }}">#}
                                        {#                                            {{ record.artist.name }}#}
                                        {#                                        </a>#}
                                        {#                                    </small><br>#}
                                        {#                                    <small>#}
                                        {#                                        <strong>Label:</strong>#}
                                        {#                                        {% if record.label %}#}
                                        {#                                            <a href="{{ path('label_page', {id: record.label.id}) }}">#}
                                        {#                                                {{ record.label.name }}#}
                                        {#                                            </a>#}
                                        {#                                        {% else %}#}
                                        {#                                            Autoproduction.#}
                                        {#                                        {% endif %}#}
                                        {#                                    </small><br>#}
                                        {{ menu.descriptioncourte }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>










                {% endfor %}
            </div>
        </div>

        {#    </div>#}
    </div>

{% endblock %}