{% extends "_template.html.twig" %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    <div class="columns section is-centered has-background-white-ter box">
        <div class="column is-one-third box">
        <h3></h3>
            {% include 'includes/flash_message.html.twig'%}

            {{ form_start(profile_form) }}

            {{ form_row(profile_form.email, {label: 'Adresse Email'}) }}
            {{ form_row(profile_form.pseudo, {label: 'Pseudo'}) }}
            {{ form_row(profile_form.nom, {label: 'Nom'}) }}
            {{ form_row(profile_form.prenom, {label: 'Prénom'}) }}
            {{ form_row(profile_form.telephone, {label: 'Numéro de Téléphone'}) }}
            {{ form_row(profile_form.civilite, {label: 'Civilité'}) }}

            <button class="button is-primary is-fullwidth" type="submit">
                Mettre à jour
            </button>

            {{ form_end(profile_form) }}

</div>

    </div>

{% endblock %}
